:root {
	--base-font: 'Courier New', Courier, monospace;
	font-family: var(--base-font);
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	/* background-color: black; */
}

main {
	padding: 2rem;
}

header.hero {
	display: flex;
	flex: 0 0 auto;
	height: 56px;
	align-items: center;
	padding: 0px 1rem;
	justify-content: space-between;
}
header.hero > div a {
	font-size: 1.125rem;
	text-underline-offset: 0.125rem;
}
header h2 {
	margin: 0px;
	cursor: pointer;
}
header h2 a {
	color: inherit;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


/* Utility classes */

.row {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
}
.grow {
	flex: 1;
}
.shrink {
	flex-shrink: 1;
}
.no-grow {
	flex: 0;
}
.no-shrink {
	flex-shrink: 0;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
/* Margin iterations */
.mt-0 {
	margin-top: 0px;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mt-3 {
	margin-top: .75rem;
}
.mt-4 {
	margin-top: 1rem;
}
.mt-5 {
	margin-top: 1.25rem;
}
.mt-6 {
	margin-top: 1.5rem;
}

/* Padding iterations */
.pt-0 {
	padding-top: 0px;
}
.pt-1 {
	padding-top: 0.25rem;
}
.pt-2 {
	padding-top: 0.5rem;
}
.pt-3 {
	padding-top: .75rem;
}
.pt-4 {
	padding-top: 1rem;
}
.pt-5 {
	padding-top: 1.25rem;
}
.pt-6 {
	padding-top: 1.5rem;
}

/*Gap iterations*/
.gap-1 {
	gap: .25rem;
}
.gap-2 {
	gap: .5rem;
}
.gap-3 {
	gap: .75rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-5 {
	gap: 1.25rem;
}
.gap-6 {
	gap: 1.5rem;
}